
/************Desktop version layout******************/

body
{
    margin: auto;
    color: #000000;
    background-color: #999999;
    width: 100%;
}

#upper-navigation
{
    background-color:#ff0000;
    margin: 1em 0 2em 0;
    float:right;
    height:2.5em;
}

#upper-navigation ul
{
    float:left;
    margin:.5em .2em 0 -.5em;
}

#upper-navigation li
{
    background-color:#ff0000;
    display:inline;
    padding:.2em;
}

#SearchText1
{
    background-color:#000000;
    /*float:right;*/
    margin:.7em 0 0 0;
}

#upper-navigation-mobile
{
    display: none;
}


#lower-navigation
{
    background-color:#00ff00;
    height:10em;
}

#logo
{
    background-color:#ff7777;
    padding:.5em;
    margin:0;
    width:20%;
}

#logo img
{
    height:8em;
    width:8em;
}

#nav2
{
    background-color:#ff0000;
    height:5em;
    width:70%;
    margin:0;
    float:right;
}

#nav2 ul li
{
    display:inline;
    font-size:1.2em;
    float:right;
    padding:1em 2em 0 0;
}


#content
{
    background-color:#00ff00;
    height:35em;
}

#main-image
{
    background-color:#777;
    padding:1em;
    margin:0;
    width:60%;
}

#main-image img
{
    height:20em;
    width:20em;
    float:right;
}

#nav3
{
    background-color:#ff0000;
    height:20em;
    width:30%;
    margin:0;
    float:right;
}

#nav3 ul li
{
    display:block;
    font-size:1.2em;
    padding:1em 2em 0 0;
}

/*****End Desktop version layout**************/




/***********begin media queries*********************/


@media only screen and (max-width : 1000px) {

  /* Small screen, non-retina */
  	/* Columnal content control - use on any elements to show/hide content on mobile*/

#upper-navigation
{
    display:none;
}

#upper-navigation-mobile
{
    display:inline-block;
    float:right;
    margin:1em 0 1em 0;
    background-color:#00ff00;
    height:3em;
}


#upper-navigation-mobile ul
{
    float:right;
    /*margin:0;*/
    padding:.6em 0 0 0;
}


#upper-navigation-mobile li
{
    background-color:#ff0000;
    display:inline;
    padding:.2em;
    font-size:1.5em;
}

#nav3
{
    background-color:#0000ff;
    height:5em;
    width:30%;
    margin:0;
    clear:both;
    width:100%;
}

#nav3 ul
{
    margin:.5em auto 0 5em;
}

#nav3 ul li
{
    display:inline-block;
    font-size:1.2em;
    padding:1em 2em 0 0;

}

} /*end max-device-width: 1000px*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 1000px),
only screen and (   min--moz-min-device-pixel-ratio: 2)  and (max-width: 1000px), /* Older Firefox browsers (prior to Firefox 16) */
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 1000px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 1000px),
only screen and (                min-resolution: 192dpi) and (max-width: 1000px),
only screen and (                min-resolution: 2dppx)  and (max-width: 1000px)/* Newer Firefox browsers (Firefox 16 and up) */ 
{ 

  /* Small screen, non-retina */
  	/* Columnal content control - use on any elements to show/hide content on mobile*/

#upper-navigation
{
    display:none;
}

#upper-navigation-mobile
{
    display:inline-block;
    float:right;
    margin:1em 0 1em 0;
    background-color:#00ff00;
    height:3em;
}


#upper-navigation-mobile ul
{
    float:right;
    /*margin:0;*/
    padding:.6em 0 0 0;
}


#upper-navigation-mobile li
{
    background-color:#ff0000;
    display:inline;
    padding:.2em;
    font-size:1.5em;
}

#nav3
{
    background-color:#0000ff;
    height:5em;
    width:30%;
    margin:0;
    clear:both;
    width:100%;
}

#nav3 ul
{
    margin:.5em auto 0 5em;
}

#nav3 ul li
{
    display:inline-block;
    font-size:1.2em;
    padding:1em 2em 0 0;

}


} /*end max-device-width: 1000px, min-pixel-ratio: 2*/





/***********end media queries*********************/
